header{
    top:0;
    position: fixed;
    background-color: blue;
    height: 5%;
    width: 100%;
    margin: 0 auto;
}
footer{
    bottom: 0;
    position: fixed;
    background-color: blue;
    height: 5%;
    width: 100%;
    margin:0 auto;
}

body{
    margin-top:3%;
    margin-bottom:5%;
    margin-left: 0;
}

#goToForm{
    margin-left: 75%;
}